#contenedorEntrada {
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

#texto {
    resize: vertical;
    width: fit-content;
    margin-bottom: 10px;
}
